body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(2, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.estudante {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.estudante h2 {
    margin: 0;
    color: #02448a;
}

.estudante p {
    margin: 5px 0;
    color: #807e7e;
}
